// Place all the styles related to the Api::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#my-projects {
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  height: auto;
  width: 100%;
  align-content: center;

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    margin-top: 18px;
    align-items: center;
    background-color: white;
    
    h1 {
      padding-left: 20%;
    }

    button {
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 400 !important;
      background-color: #3d83b3;
      color: #fff;
      padding: 4px 1px;
      margin: 20px;
      margin-right: 22.7%;
      border: 0px;
      width: 100px;
      cursor: pointer;
      transition: all 0.3s 0s ease-in-out;
    }
    button:hover {
      transform: scale(1.04, 1);
      background-color: #4897cc;
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    width: 65%;
    position: absolute;
    padding-top: 2%;
    padding-left: 16.5%;
    padding-right: 18.5%;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    
    h2 {
      font-size: x-large;
      margin-bottom: 1%;  
      padding-bottom: 30px;
    }
  }

  .project-item {
    background-color: snow;
    margin-left: 5%;
    width: 200px;
    height: 120px;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    border: 1px solid lightgray;
    justify-self: center;

    .project-item:hover {
      cursor: pointer;
      background-color: rgba(158, 150, 150, 0.856);
    }
    
    h2 {
      // height: 30%;
      width: 100%;
      color: rgb(26, 108, 185);
    }
    p {
      width: 100%;
      color: rgb(26, 108, 185);
    }
  }

  .project-buttons {
    padding-top: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
  }
}

#modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#create-project-container, #add-members-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(10, 10, 10, 0.503);
  form {
    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 10;
    position: fixed;
    padding: 50px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 402px;
    background-color: whitesmoke;

    h1 {
      padding-bottom: 30px;
      font-size: x-large;
      text-decoration: grey;
    }

    input, textarea {
      width: 98%;
      align-self: center;
      padding: 10px;
      margin-top: 5px;
      border-color: grey;
    }

    textarea {
      height: 30%;
      margin-top: 30px;
      resize: none;
    }

    .buttons-list {
      display: flex;
      justify-content: end;
    }
    button {
      width: 100px;
      justify-content: center;
      height: 30px;
      font-weight: 100;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 30px;
    }
    p {
      color: red;
      padding-top: 10px;
    }

    .submit {
      background-color: rgb(34, 218, 34);  
    }
  }
}