// Place all the styles related to the Api::Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stories-page {
  display: flex;
  justify-content: start;
  width: 100vw;
  height: 91vh;
  background-color: rgb(83, 81, 81);

  #stories-sidebar {
    width: 14vw;
    // padding-left: 30px;
    background-color: teal;
    border: 2px solid slategrey;

    li {
      padding-left: 30px;
      font-size: xx-large;
      padding-top: 30px;
    }
  }

  #stories-containers {
    display: flex;
    flex-direction: row;
    height: 91vh;
    width: 85vw;
    justify-content: flex-start;

    .story-box {
      padding-top: 30px;
      width: inherit;
      // padding-right: 40px;
      background-color: teal;
      border: 2px solid slategrey;
      overflow: auto;

      .story-create-container, .edit-story-container {
        form {
          height: 78vh;
          width: inherit;
          background-color: whitesmoke;
          position: inherit;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-content: center;
          z-index: 10;

          label {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px;
          }
        }
      }
      h1 {
        font-size: x-large;
      }
      
      .story-container-header {
        display: flex;
        justify-content: space-between;
      }

      .story-item-container {
        padding: 5px;
        background-color: whitesmoke;
        border: 1px solid lightgray
      }
    }
  }
}

