// Place all the styles related to the Api::Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stories-page {
  display: flex;
  justify-content: start;
  width: 100vw;
  height: 88vh;
  background-color: black;

  #stories-sidebar {
    width: 14vw;
    // padding-left: 30px;
    background-color: rgb(26, 24, 24);
    color: rgb(121, 116, 116);
    border: 2px solid rgb(58, 63, 68);
    margin: 5px;
    border-radius: 5px;

    .selected {
      color: rgb(80, 153, 212);
    }

    li {
      padding-left: 30px;
      font-size: large;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
      // border-bottom: 1px solid whitesmoke;
      text-align: center;
      display: flex;

      span {
        padding-right: 5px;
      }
    }

    li:hover {
      cursor: pointer;
      background-color: rgb(61, 58, 58);

    }

  }

  #stories-containers {
    display: flex;
    flex-direction: row;
    height: 88vh;
    width: 86vw;
    justify-content: flex-start;
    

    .story-box {
      width: inherit;
      background-color: rgb(37, 35, 35);
      border: 2px solid rgb(62, 67, 73);
      margin: 5px;
      margin-top: 5px;
      border-radius: 5px;
      overflow: auto;

      .create-story-buttons {
        padding-top: 1%;
        padding-bottom: 1%;
        margin-right: 1%;
        width: 25%;
        border: none;
        border-radius: 10px;
        color: whitesmoke;
        background-color: transparent;
        font-size: large;
      }

      .create-story-buttons:hover {
        cursor: pointer;
        background-color: rgb(196, 136, 46);
        
      }


      .story-create-container, .edit-story-container {
        form {
          // height: 60vh;
          width: inherit;
          background-color: whitesmoke;
          position: inherit;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-content: center;
          z-index: 10;

          label {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px;
          }
          div {
            padding: 10px;
          }
        }
      }

      h1 {
        font-size: x-large;
        padding: 10px;
      }
      
      .story-container-header {
        background-color: rgb(37, 35, 35);
        padding-left: 10px;
        padding-top: 5px;
        font-weight: bold;
        color: rgb(167, 161, 161);
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      .story-item-container {
        padding: 1px;
        background-color: whitesmoke;
        border: 1px solid lightgray;
        display: flex;
        justify-content: space-between;

        button {
          width: 60px;
          height: 24px;
          align-self: center;
          border-radius: 4px;
          border-style: none;
          margin-right: 3px;
          opacity: .7;
          background-color: rgb(154, 202, 218);
        }

        button:hover {
          // transform: scale(1.05, 1);
          opacity: 1.0;

        }

        .start {
          background-color: rgb(113, 235, 113);
        }

        .finish {
          background-color: rgb(36, 142, 204);
        }
      }

      .story-item-container:hover {
        cursor: pointer;
        opacity: 90%;
      }

      .story-item-card {
        background-color: whitesmoke;

        .collapse {
          background-color: rgb(88, 140, 219);
          margin-top: 10px;
          position: relative;
          left: 85%;
        }
      }

      .Icebox {
        background-color: rgb(174, 221, 252);
      }
      .current-user {
        background-color: rgb(236, 224, 208);
      }
    }
  }
}

.story-details {
  background-color: whitesmoke;
  h1, p, h2 {
    padding: 5px;
  }
}