// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup-container h1{
  padding-top: 3%;
  font-size: 70px;
  text-align: center;
  justify-content: center;
}

#login-container {
  h1 {
    padding-top: 3%;
    font-size: 70px;
  }
}

.user-form {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.user-form input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 400px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
}

// .user-form input:focus {
//   border-radius: 4px;
//   outline: rgb(105, 198, 214);
// }

.user-form button {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: rgba(228, 159, 55, 0.911);
  color: #fff;
  padding: 5px 5px;
  margin: 1%;
  width: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

.user-form button:hover {
  transform: scale(1.04, 1);
  background-color: rgb(226, 178, 105);
  text-decoration: none;
}
