// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  background-color: rgb(201, 223, 236);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-bar {
  display: inline-flex;
  // display: flex;
  // flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #256188;
  justify-content: space-between;
  border-bottom: 1px black solid;
  font-size: large;
  height: 4%;
  a {
    text-decoration: none;
  }
}

#logo-name {
  height: 4%;
  display: inline-flex;
  align-items: center;
  // justify-content: 
}

#nav-bar-items {
  height: 4%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  justify-content: space-between;

  button:hover {
    transform: scale(1.04, 1);
    background-color: rgb(226, 178, 105);
    text-decoration: none;
  }
}

#nav-bar button {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: rgba(228, 159, 55, 0.911);
  color: #fff;
  padding: 5px 5px;
  margin-right: 10px;
  width: 20%;
  text-align: center;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

#signup-container h1{
  padding-top: 1%;
  font-size: xx-large;
  text-align: center;
  justify-content: center;
}

#login-container h1{
  padding-top: 1%;
  text-align: center;
  font-size: xx-large;
  justify-content: center;
}

.user-form {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-form button {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: rgba(228, 159, 55, 0.911);
  color: #fff;
  padding: 5px 5px;
  margin: 1%;
  width: 10%;
  text-align: center;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

.user-form button:hover {
  transform: scale(1.04, 1);
  background-color: rgb(226, 178, 105);
  text-decoration: none;
}

#signup-login {
  display: flex;
  // flex-direction: column;
  padding-top: 1%;
  justify-content: right;
  z-index: 1;
  margin-top: -50px;
  margin-right: 10px;
}

#signup-login button {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: rgba(228, 159, 55, 0.911);
  color: #fff;
  padding: 4px 1px;
  margin: 1%;
  text-align: center;
  border: 0px;
  width: 10%;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

#signup-login button:hover {
  transform: scale(1.04, 1);
  background-color: rgb(226, 178, 105);
  text-decoration: none;
}

.errors {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-projects {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
  height: 100%;
  width: 100%;
  align-content: center;

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    padding: 1%;
    padding-left: 19.4%;
    align-items: center;
    background-color: white;

    button {
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 400 !important;
      background-color: #3d83b3;
      color: #fff;
      padding: 4px 1px;
      margin: 1%;
      margin-right: 42.7%;
      border: 0px;
      width: 10%;
      cursor: pointer;
      transition: all 0.3s 0s ease-in-out;
    }
    button:hover {
      transform: scale(1.04, 1);
      background-color: #4897cc;
      text-decoration: none;
    }
  }

  
  ul {
    width: 100%;
    position: absolute;
    padding-top: 2%;
    padding-left: 14.5%;
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    h2 {
      font-size: x-large;
      margin-bottom: 1%;  
      padding-bottom: 1%;
    }
  }

  ul div {
    background-color: snow;
    margin-left: 5%;
    width: 20%;
    height: 5%;
    padding: 1%;
    padding-left: 5%;
    margin-bottom: 1%;
    border: 1px solid lightgray;
    justify-self: center;
  }
}